.header {
    position: fixed;
    height: 128px;
    width: 100%;
    align-items: center;
    border-bottom: solid 1px #e0e0e0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    .header-headline {
        display: flex;
        justify-content: space-between;
        position: sticky;
        .headline-hum {
            width: max-content;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4px;

            .line {
                display: block;
                width: 20px;
                height: 2px;
                border-radius: 5px;
                background-color: #000;
            }
        }
        .headline-text {
            font-weight: 700;
            // font-size: 1.2rem;
            height: 64px;
            line-height: 64px;
            margin-left: 3rem;
        }
    }
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 1rem;
        padding-right: 1rem;

        .header-navlist {
            .search-box {
                height: 40px;
                border-radius: 25px;
                border: 1px solid #999999ac;
                padding: 3px 1rem;
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 8px;
                width: 300px;

                label {
                    height: 18px;

                    svg {
                        width: 18px;
                        height: 18px;

                        circle,
                        path {
                            stroke: #888;
                            stroke: #888;
                        }
                    }
                }
                .search-input {
                    height: 18px;
                    border: 0;
                    outline: 0;

                    &:focus {
                        border: 0;
                        outline: 0;
                    }
                }
            }

            svg {
                width: 20px;
                height: 20px;

                circle,
                path {
                    stroke: #888;
                    stroke: #888;
                }
            }
        }
    }
    .sidevar {
        position: fixed;
        width: 100%;
        border-top: solid 1px #e0e0e0;

        .nav-container {
            max-width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
        }
        .nav-container::-webkit-scrollbar {
            display: none;
        }

        .sidebar-list {
            display: inline-flex;
            list-style: none;
            padding: 0 2rem;
            width: 100%;
            // display: flex;
            // overflow: scroll;
            

            .list-item {
                font-weight: normal;
                position: relative;
                padding: 6px 0 8px 0;
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 100%;
                margin: 1rem 0 0 0;
                text-align: center;
                min-width: 20%;
                .list-item-tagu {
                    text-decoration: none;
                    color: #000;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    left: 50%;
                    background-color: #007bff;
                    transition: all 0.3s ease;
                    transform: translateX(-50%);
                }
                &.active::after {
                    width: 54%;
                }
            }
        }
    }
}

// .section {
//     .section-tit {
//         margin: 2rem 0;
//     }
// }
.season-anime {
    .top-image {
        // overflow: hidden;
        // position: relative;
        padding: 127px 0;
        width: 100%;
        height: 417px;
    }
    .top-image img {
        // margin-top: 128px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 417px;
    }
    .season-anime-top {
        text-align: center;
        font-size: 24px;
        margin: 8em 56px 0px 56px;
        padding: 25px 0 30px 0;
        border-top: solid 2px #999999ac;
    }

    .season-anime-button-left {
        border: none;
        left: 0;
        position: absolute;
        top: 38rem;
        bottom: -4rem;
        width: 5rem;
        height: 28rem;
        border: none;
        outline: none;
        color: transparent;
        background-color: transparent;
        z-index: 1;
        background-image: linear-gradient(
            90deg,
            #f0f0f0 0%,
            rgba(255, 255, 255, 0) 100%
        );

        &::after {
            left: 30px;
            content: url(https://online.aniplex.co.jp/on/demandware.static/Sites-ANX-Site/-/ja_JP/v1736917298250/images/icon-l-arrow-slick.svg);
        }
    }

    .season-anime-list {
        // justify-content: center;
        display: flex;
        gap: 40px;
        overflow-x: scroll; /* 左右どちらにでもスクロールできるように変更 */
        scrollbar-width: none;
        // margin: 0 56px;
        // border-bottom: solid 1px black;
        .season-anime {
            list-style: none;
            margin: 0 0 40px 0;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05);

            .season-anime-url {
                text-decoration: none;

                .card-img {
                    width: 167px;
                    height: 243px;

                    img {
                        width: 167px;
                        height: 243px;
                        object-fit: cover;
                        
                    }
                }
            }

            .season-anime-title {
                overflow: hidden;
                font-size: 14px;
                color: #000;
                padding: 10px 10px 0;
                text-align: left;
                padding-top: 10px;
                background-color: #fff;
                height: 73px;
            }
        }
    }
    .season-anime-button-right {
        border: none;
        right: 0;
        position: absolute;
        top: 38rem;
        bottom: -4rem;
        width: 5rem;
        height: 28rem;
        border: none;
        outline: none;
        color: transparent;
        background-color: transparent;
        z-index: 1;
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            #f0f0f0 100%
        );
        &::after {
            right: 30px;
            content: url(https://online.aniplex.co.jp/on/demandware.static/Sites-ANX-Site/-/ja_JP/v1736917298250/images/icon-r-arrow-slick.svg);
        }
    }
}

.top-news {
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
    .display {
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        .news-tit {
            font-size: 24px;
            border-top: solid 2px #999999ac;
            margin: 0 56px;
            padding: 50px 0 30px 0;
        }

        .news-card-list {
            // width: 90%;
            margin: 0 auto;
            background-color: #f0f0f0;

            .news-card {
                background-color: #fff;
                display: inline-block;
                width: 330px;
                height: 400px;
                border-radius: 6px;
                border: 1px solid #e0e0e0;
                overflow: hidden;
                margin: 1rem;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                    0 4px 6px -2px rgba(0, 0, 0, 0.05);

                .card-thumb {
                    width: 100%;
                    height: 224px;
                    border-bottom: 1px solid #e0e0e0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
                .card-text {
                    color: #000;
                    overflow: hidden;
                    height: 138px;
                    padding: 6px 1rem 0 1rem;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        text-decoration: underline;
                    }

                    .card-headline {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: #222;
                    }
                    .card-desc {
                        padding-top: 0.5rem;
                        font-size: 0.8rem;
                        color: #555;
                    }
                }

                .card-footer {
                    border-top: solid 1px #e0e0e0;
                    display: flex;
                    justify-content: space-between;
                    padding: 9px 0 0 8px;

                    .card-timeline,
                    .card-views {
                        display: block;
                        text-align: center;
                        font-size: 0.7rem;
                        color: #999999ac;
                    }

                    svg {
                        width: 0.7rem;
                        height: 0.7rem;

                        path {
                            stroke: #999999ac;
                        }
                    }
                }
            }
        }
    }
}
