.season-anime {
    .top-image {
        // overflow: hidden;
        // position: relative;
        width: 100%;
        height: 417px;
    }
    .top-image img {
        margin-top: 128px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 417px;
    }
    .season-anime-top {
        text-align: center;
        font-size: 24px;
        margin: 8em 56px 0px 56px;
        padding: 25px 0 30px 0;
        border-top: solid 2px #999999ac;
    }

    .season-anime-button-left {
        border: none;
        left: 0;
        position: absolute;
        top: 38rem;
        bottom: -4rem;
        width: 5rem;
        height: 28rem;
        border: none;
        outline: none;
        color: transparent;
        background-color: transparent;
        z-index: 1;
        background-image: linear-gradient(
            90deg,
            #f0f0f0 0%,
            rgba(255, 255, 255, 0) 100%
        );

        &::after {
            left: 30px;
            content: url(https://online.aniplex.co.jp/on/demandware.static/Sites-ANX-Site/-/ja_JP/v1736917298250/images/icon-l-arrow-slick.svg);
        }
    }

    .season-anime-button-right {
        border: none;
        right: 0;
        position: absolute;
        top: 38rem;
        bottom: -4rem;
        width: 5rem;
        height: 28rem;
        border: none;
        outline: none;
        color: transparent;
        background-color: transparent;
        z-index: 1;
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            #f0f0f0 100%
        );
        &::after {
            right: 30px;
            content: url(https://online.aniplex.co.jp/on/demandware.static/Sites-ANX-Site/-/ja_JP/v1736917298250/images/icon-r-arrow-slick.svg);
        }
    }
}